@media screen and (min-width: 64em) {
  .section-grid-testimonials {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.8rem;
  }

  .testimonials:last-child {
    grid-column-start: 4;
    grid-row: 1 / span 2;
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }
}
