:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --bg-color: hsl(210, 46%, 95%);
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  min-width: 100%;
  min-height: 100vh;
}

.section-grid-testimonials {
  display: grid;
  row-gap: 1.8rem;
  padding: 5.6rem 2.2rem;
}

/* ================================== */
/* TESTIMONIALS */
/* ================================== */
.testimonials {
  display: grid;
  gap: 1.6rem;
  padding: 2.8rem;
  border-radius: 0.8rem;
  box-shadow: 10px 10px 20px hsla(0, 0%, 81%, 0.541);
}

/* ================================== */
/* TESTIMONIALS PROFILE */
/* ================================== */
.testimonials-profile {
  display: flex;
  gap: 1.2rem;
  height: 4.6rem;
}

.testimonials .testimonials-profile .img-profile-container img {
  width: 4.4rem;
  border-radius: 50%;
}

.testimonials .testimonials-profile .name {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
}

.testimonials .testimonials-profile .position {
  font-size: 1.2rem;
  opacity: 0.5;
  font-weight: 500;
}

/* ================================== */
/* TESTIMONIALS TEXT*/
/* ================================== */
.testimonials > p:first-of-type {
  font-size: 2.12rem;
  font-weight: 600;
}

.testimonials > p:last-of-type {
  opacity: 0.7;
  font-size: 1.45rem;
}

/* ================================== */
/* TESTIMONIALS QUOTE*/
/* ================================== */
.testimonials.quote {
  background-image: url("/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
}

/* ================================== */
/* UTILITY CLASSES*/
/* ================================== */
.bg-violet {
  background-color: var(--moderate-violet);
}

.border-violet {
  border: 3px solid hsl(264, 82%, 70%);
}

.bg-grayish-blue {
  background-color: var(--very-dark-grayish-blue);
}

.bg-blackish-blue {
  background-color: var(--very-dark-blackish-blue);
}

.bg-white {
  background-color: var(--white);
}

.text-color-neutral {
  color: var(--white);
}

.text-color-secondary {
  color: var(--very-dark-grayish-blue);
}
